.user-form {

}
.user-form__label {
    font-weight: bold;
    margin-bottom: 10px;
}
.user-form__input {
    width: 100%;
    padding: 3px;
    margin-bottom: 10px;
}
.user-form__button {
    cursor: pointer;
    background-color: blueviolet;
    border: 0;
    padding: 5px 10px;
    color: #fff;
}